<h1>Listing widgets</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for widget in @widgets %>
  <tr>
    <td><%=h widget.name %></td>
    <td><%= link_to 'Show', widget %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
    <td><%= link_to 'Destroy', widget, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New widget', new_widget_path %>
