<h1>Editing movement</h1>

<% form_for(@movement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :position_id %><br />
    <%= f.text_field :position_id %>
  </p>
  <p>
    <%= f.label :operation %><br />
    <%= f.text_field :operation %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @movement %> |
<%= link_to 'Back', movements_path %>
